:root {
    --highlight: #2aefcb;
    --background-color: #212121;
    --font: sans-serif;
}
* {
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    background-color: rgb(33, 32, 32);
    color: white
}

header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.5%;
    padding-bottom: 1%;
}

header li {
    display: inline;
    font-size: 90%;
}

.introduction {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 2%;
    align-items: center;
}

.introduction h1 {
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 1%;
    padding-top: 1%;
}

.introduction img {
    height: 3rem;
    border-radius: 50%;
}

.introduction h2 {
    display: flex;
    font-size: medium;
    font-weight: 500;
    padding-bottom: 1%;
}

.introduction p {
    font-size: small;
    padding-left: 8rem;
    padding-right: 8rem;
    max-width: 60rem;
    min-width: 35rem;
    align-items: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.projects div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    outline: auto;
    border-radius: 1.0rem;
    margin-top: 1rem
}

.projects ul {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: start;
}

.projects li {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 2px solid;
    border-radius: 0.4rem;
    margin-right: 1rem;
}

.projects h3 {
    display: flex;
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

.projects img {
    height: 16rem;
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
}

.main-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
}

.main-project div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    outline: auto;
    border-radius: 1.0rem;
}

.main-project ul {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: start;
}

.main-project li {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 2px solid;
    border-radius: 0.4rem;
    margin-right: 1rem;
}

.main-project h3 {
    display: flex;
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-project img {
    height: 20rem;
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
}

.projects div:hover, .main-project div:hover {
    box-shadow: inset 0px 0px 8px var(--highlight), 0 0 15px var(--highlight);
  }

.contact {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.contact u {
    padding-right: 30rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.contact-form h3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: large;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-left: 1%;
    text-underline-offset: 0.2rem;
}

.contact-form input {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1.0rem;
    border: 1px solid #ccc;
}

.contact-form textarea {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1.0rem;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

.contact-form button {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1.0rem;
    border: 1px solid #ccc;
    max-width: 9rem;
    font-size: 0.9rem;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(7,147,30, 0.3) 0%,
        rgb(251,202,110, 0.7) 100%
      );
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-right: 70%;
    padding-bottom: 1rem;
    align-items: center;

}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

.outer {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    border-left: 2px solid rgb(77, 76, 76);
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 1rem;
    padding: 1rem;
    max-width: 38rem;
}

.info {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: start;
    align-items: center;
    flex: 1 0 auto;
    max-width: 50rem;
    border-radius: 1.0rem;
    padding-bottom: 0.7rem;
}

.info h3 {
    font-size: 0.85rem;
    font-weight: 600;
    background-color: white;
    color: black;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
}

.info h4 {
    display: flex;
    white-space: nowrap;
    font-size: 0.95rem;
    padding-right: 10px;
    padding-left: 15px;
}

.info p {
    font-size: 0.8rem;
    color: gray;
}

.card p {
    font-size: 0.9rem;
    color: gray;
}

.year::before {
    display: flex;
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: rgb(77, 76, 76);
    border-radius: 50%;
    left: -1.6rem;
    padding-left: 1rem
}

@media screen and (max-width: 600px) {
    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
    }
    
    .main-project {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-top: 2%;
        flex-direction: column;
        align-items: center;
    }
    
    .main-project div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        outline: auto;
        border-radius: 1.0rem;
    }
    
    .main-project img {
        height: 20rem;
        border-top-left-radius: 1.0rem;
        border-top-right-radius: 1.0rem;
    }

    .contact u {
        padding-right: 20rem;
    }
  }

  @media screen and (min-width: 930px) {
    .section-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.3rem;
        padding-top: 2rem;
        padding-left: 26%;
        padding-right: 70%;
        padding-bottom: 1rem;
        align-items: center;
    }
  }